# Environment Variables
.env
nohup.out

# Certificates
*.cert
*.crt
*.key
*.pem

# Mac File System Artifacts
.DS_Store

# Node.js Dependencies
node_modules

# ** Content **
# *.md

# Build Artifacts

*.css
